.aword {
    padding-bottom: 165px;
    text-align: center;

    .bg_btn_color {
        display: inline-block;
        margin-top: 60px;
    }
}

.min_aword_area {
    margin-top: 60px;
    text-align: center;

    .singe_aword {
        border-top: 2px solid #131313;
        padding-top: 30px;
        padding-bottom: 25px;
        text-align: left;

        .left_content {
            display: flex;
            align-items: center;
            padding-right: 130px;

            .content {
                padding-left: 130px;

                h5 {
                    a {
                        color: $pcolor;
                        font-family: $clash-display;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 34px;
                    }
                }

                span {
                    color: $main-bg;
                    font-family: $clash-display;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    margin-top: -5px;
                    display: inline-block;
                }
            }
        }

        .right_content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                padding-right: 175px;
                color: $pcolor;
                font-family: $inter;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 0;
            }

            i {
                color: $main-bg;
                font-size: 40px;
                transform: rotate(-45deg);
                transition: .3s;
            }
        }

        &:last-child {
            border-bottom: 2px solid #131313;
        }

        &:hover {
            .right_content {
                i {
                    transform: none;
                }
            }
        }
    }
}