.breadcrumb_area {
    padding-top: 250px;
    padding-bottom: 150px;
    position: relative;

    .breadcrumb_content {
        h2 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 120px;
            line-height: 124px;
        }

        .breadcrumb_category {
            color: $pcolor;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;

            span {
                a {
                    color: $pcolor;
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                }

                margin: 0 2px;

                i {
                    transform: rotate(-45deg);
                    transition: 0.3s;
                }
            }
        }
    }

    .shape_img {
        .one {
            left: 0;
            bottom: 160px;
        }

        .two {
            right: 215px;
            top: 140px;
        }

        .three {
            bottom: 0;
            right: 550px;
        }
    }
}

//two 
.breadcrumb_area.two {
    .shape_img {
        .two {
            display: none;
        }
    }
}