//Bg Btn
.bg_btn {
    font-family: $inter;
    color: #131313;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: $white;
    border: 2px solid #131313;
    box-shadow: 4px 4px 0px #131313;
    padding: 20px 50px;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;

    i {
        transform: rotate(-45deg);
        margin-left: 5px;
        transition: 0.3s;
    }

    &:hover {
        color: $main-bg;
        box-shadow: none;

        i {
            transform: none;
        }
    }
}

//BgColor Btn
.bg_btn_color {
    color: $pcolor;
    font-family: $inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: $main-bg;
    border: 2px solid #131313;
    box-shadow: 4px 4px 0px #131313;
    padding: 20px 44px;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;

    &:hover {
        color: $pcolor;
        box-shadow: none;
    }
}

//PopUp Btn
.popup_btn {
    width: 140px;
    height: 140px;
    background: $white;
    border: 2px solid #131313;
    box-shadow: 4px 4px 0px #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    i {
        color: #131313;
        font-size: 32px;
    }

    &:hover {
        background: $main-bg;
        box-shadow: none;

        i {
            color: $white;
        }
    }
}

//Text Btn
.text_btn {
    color: $main-bg;
    font-family: $inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;

    i {
        transform: rotate(-45deg);
        margin-left: 5px;
        transition: 0.3s;
    }

    &:hover {
        color: $pcolor;

        i {
            transform: none;
        }
    }
}

//Project Btn
.project_btn {
    color: $pcolor;
    font-family: $inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
    transition: .3s;

    i {
        transform: rotate(-45deg);
        margin-left: 5px;
        transition: 0.3s;
    }

    &:hover {
        color: $pcolor;

        i {
            transform: none;
        }
    }
}

// Shop Btn 
.shop_btn {
    display: inline-flex;
    color: $pcolor;
    font-family: $inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background: $white;
    border: 2px solid #131313;
    box-shadow: 4px 4px 0px #131313;
    padding: 13px 45px;

    i {
        margin-right: 10px;
    }

    &:hover {
        color: $main-bg;
    }
}