.counter_area {
    padding-top: 120px;
    padding-bottom: 150px;
}

.min_counter_area {
    border-bottom: 2px solid #131313;
    padding-bottom: 30px;

    .single_counter {
        display: flex;
        align-items: center;

        h6 {
            color: $main_bg;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 88px;
            line-height: 98px;

            span {
                margin-left: -15px;
            }
        }

        p {
            color: $pcolor;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            padding-left: 15px;
        }
    }
}