// Home Two
.offer_box {
    padding-bottom: 120px;
}

.min_offer_box {
    margin-top: 65px;

    .single_offer_box {
        display: flex;
        align-items: flex-start;
        background: $white;
        border: 2px solid #131313;
        box-shadow: 4px 4px 0px #131313;
        margin: 0 12px;
        margin-bottom: 48px;
        padding-top: 52px;
        padding-bottom: 52px;
        padding-left: 40px;
        padding-right: 30px;
        transition: .3s;

        img {
            margin-right: 40px;
        }

        .content {
            h5 {
                color: $pcolor;
                font-family: $clash-display;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
            }

            p {
                color: $pcolor;
                font-family: $inter;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                margin-top: 15px;
            }

            .text_btn {
                margin-top: 10px;
            }
        }

        &:hover {
            box-shadow: none;
            transform: translateY(-5px);
        }
    }
}

// Home Four 
.offer_box.style_two {
    position: relative;

    .content {
        position: sticky;
        left: 0;
        top: 5px;

        .bg_btn_color {
            margin-top: 40px;
        }
    }

    .min_offer_box {
        margin-top: 0;
    }
}

// Service 
.offer_box.service {
    padding-top: 160px;
}