.progress_area {
    padding-top: 150px;
    padding-bottom: 150px;
}

.min_progress_area {
    .content {
        p {
            color: $pcolor;
            font-family: $inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            margin-top: 30px;
        }
    }

    .line_progress_bar {
        margin-top: 50px;

        .single_items {
            margin-top: 35px;

            .progress_content {
                display: flex;
                justify-content: space-between;

                h5 {
                    color: $pcolor;
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                }

                span {
                    color: $pcolor;
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;
                }
            }

            .progress {
                background: $white;
                border: 2px solid #131313;
                box-shadow: 4px 4px 0px #131313;
                height: 16px;

                .progress-bar {
                    background-color: #FF7945;
                    width: 0;
                }
            }
        }
    }
}

// Our Service
.progress_area.service {
    padding-top: 0;
}