@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $inter;
}

a {
    text-decoration: none;
}

.shape_img img {
    position: absolute;
}

.section_title {
    h2 {
        color: $pcolor;
        font-family: $clash-display;
        font-weight: 600;
        font-size: 66px;
        line-height: 76px;
    }
}

.blockquote {
    margin-top: 40px;
    margin-bottom: 40px;
    background: $white;
    border: 2px solid #131313;
    box-shadow: 4px 4px 0px #131313;
    position: relative;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 40px;
    padding-bottom: 48px;

    p {
        color: $pcolor;
        font-family: $clash-display;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;

        span {
            color: $main-bg;
        }
    }

    .author {
        span {
            color: $main-bg;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }

    img {
        position: absolute;
        right: 48px;
        bottom: -30px;
    }
}

@media(min-width: 1400px) {
    .container {
        max-width: 1440px;
    }
}