// Home One
.service_box {
    padding-top: 150px;
    padding-bottom: 150px;
}

.min_service_box_area {
    margin-top: 65px;

    .single_service_box {
        background: $white;
        border: 2px solid #131313;
        box-shadow: 4px 4px 0px #131313;
        padding-top: 80px;
        padding-left: 48px;
        padding-bottom: 60px;
        padding-right: 40px;
        margin: 0 7px;
        transition: .3s;

        img {
            margin-bottom: 60px;
        }

        h4 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
        }

        p {
            padding-top: 10px;
            color: $pcolor;
            font-family: $inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 30px;
        }

        &:hover {
            box-shadow: none;
            transform: translateY(-5px);
        }
    }
}

// Home Five 
.service_box.h_5 {
    padding-top: 0;
}