.service_line {
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 70px;

    .line_item {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 139%;
        padding-left: 30px;
        transform: rotate(4deg);
        position: relative;
        z-index: 3;
        left: -45px;

        h5 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 42px;
            line-height: 52px;
            display: inline-flex !important;

            img {
                margin-right: 20px;
                margin-left: 20px;
            }
        }

        &:last-child {
            transform: rotate(-8deg);
            bottom: 190px;
            z-index: -1;
        }
    }
}

.service_line.h_3 {
    padding-bottom: 0;
    padding-top: 0;

    .line_item {
        padding-top: 20px;
        padding-bottom: 10px;
        width: 105%;
        transform: rotate(0);
        padding-left: 30px;
        position: relative;
        z-index: 3;
        left: -30px;

        &:last-child {
            bottom: 0;
        }
    }
}