// Blog List Section
.blog_list_with_sidebar {
    .container {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

// Blog Grid Sectio
.blog_grid_with_sidebar {
    .container {
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

// Blog Sidebar
.blog_sidebar {
    padding-left: 60px;

    .sidebar_item {
        margin-bottom: 55px;

        h5 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 25px;
        }

        .sidebar_search {
            position: relative;

            input {
                padding-left: 0;
                padding-top: 13px;
                padding-bottom: 13px;
                border: 0;
                box-shadow: none;
                border-radius: 0;
                border-bottom: 2px solid #131313;

                &::placeholder {
                    color: $pcolor;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 32px;
                }
            }

            button {
                position: absolute;
                right: 0;
                top: 15px;
                border: 0;
                background: transparent;

                i {
                    color: $main-bg;
                }
            }
        }

        .sidebar_category {
            margin-bottom: 0;

            li {
                margin-top: 15px;

                a {
                    color: $pcolor;
                    font-family: $inter;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;

                    span {
                        color: $main-bg;
                    }
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .sidebar_blog_post {
            .single_sidebar_blog_post {
                display: flex;
                align-items: center;
                margin-top: 28px;

                img {
                    width: 98px;
                    height: 90px;
                }

                .content {
                    padding-left: 18px;

                    span {
                        color: $pcolor;
                        font-family: $inter;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        text-transform: uppercase;
                    }

                    h6 {
                        margin-top: 5px;
                        margin-bottom: 0;

                        a {
                            color: $pcolor;
                            font-family: $clash-display;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                        }
                    }
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .sider_tag {
            display: flex;
            flex-wrap: wrap;
            padding-right: 10px;

            li {
                margin-right: 12px;
                margin-bottom: 12px;

                a {
                    padding: 10px 16px;
                }
            }
        }
    }
}

// Service Sidebar
.service_sidebar {
    .service_sidebar_list {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $white;
            border: 2px solid #131313;
            box-shadow: 4px 4px 0px #131313;
            padding: 20px 24px;
            margin-bottom: 16px;
            transition: .3s;

            p {
                color: $pcolor;
                font-family: $inter;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            i {
                color: $main-bg;
                font-size: 25px;
                transform: rotate(-45deg);
            }

            &:hover {
                box-shadow: none;
            }
        }

    }

    .service_sidebar_post {
        padding: 48px 40px;
        position: relative;
        margin-top: 60px;

        img {
            margin-bottom: 40px;
        }

        h6 {
            a {
                color: $pcolor;
                font-family: $clash-display;
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
            }
        }

        p {
            color: $pcolor;
            font-family: $inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
        }

        i.fa-solid {
            transform: rotate(-45deg);
            font-size: 32px;
            margin-top: 10px;
            transition: .3s;
        }

        &:hover {
            i.fa-solid {
                transform: rotate(0);
            }
        }
    }

    .shape_img {
        .one {
            top: 0;
            right: 45px;
            margin-bottom: 0;
        }

        .two {
            right: 0;
            top: 120px;
            margin-bottom: 0;
        }

        .three {
            bottom: 0;
            right: 20px;
            margin-bottom: 0;
        }
    }
}