.team {
    padding-top: 150px;
    padding-bottom: 150px;
}

.min_team_area {
    margin-top: 50px;

    .slick-slide {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }

    .slick-list {
        margin-left: -20px;
        margin-right: -20px;
    }

    .slick-dots {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        li {
            margin: 0 5px;

            button {
                text-indent: -11111111111px;
                background: rgba(136, 145, 155, 0.3);
                width: 14px;
                height: 14px;
                border: 0;
                border-radius: 50px;
            }

            &.slick-active {
                button {
                    height: 22px;
                    width: 22px;
                    background: $main-bg;
                    border: 2.4px solid #131313;
                    margin-top: -30px;
                }
            }
        }
    }

    .single_team {
        background: $white;
        border: 2px solid #131313;
        box-shadow: 4px 4px 0px #131313;
        padding-top: 13px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 42px;
        transition: .3s;

        img {
            width: 100%;
        }

        h5 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            margin-top: 35px;

            a {
                color: $pcolor;
            }
        }

        span {
            color: $main-bg;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: none;
        }
    }
}

// Home Three
// Team Style Two
.team_style_two {
    padding-bottom: 130px;
    position: relative;

    .content {
        position: sticky;
        left: 0;
        top: 5px;

        .bg_btn_color {
            margin-top: 40px;
        }
    }
}

.min_team_area_two {
    .single_team_two {
        background: $white;
        border: 2px solid #131313;
        box-shadow: 4px 4px 0px #131313;
        padding-top: 13px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 42px;
        transition: .3s;
        margin: 0 10px;
        margin-bottom: 40px;

        img {
            width: 100%;
        }

        h5 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            margin-top: 35px;

            a {
                color: $pcolor;
            }
        }

        span {
            color: $main-bg;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: none;
        }
    }
}

//Innar
.team.innar {
    padding-bottom: 130px;
}

.min_team_area_innar {
    margin-top: 50px;

    .single_team {
        background: $white;
        border: 2px solid #131313;
        box-shadow: 4px 4px 0px #131313;
        padding-top: 13px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 42px;
        transition: .3s;
        margin: 0 10px;
        margin-bottom: 48px;

        img {
            width: 100%;
        }

        h5 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
            margin-top: 35px;

            a {
                color: $pcolor;
            }
        }

        span {
            color: $main-bg;
            font-family: $inter;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: none;
        }
    }
}

// Team Singe
.team_single {
    padding-top: 160px;
    padding-bottom: 160px;
}

.team_single_area {
    padding-right: 95px;

    .team_info {
        span {
            color: $main-bg;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 30px;
            line-height: 40px;
        }

        h3 {
            color: $pcolor;
            font-family: $clash-display;
            font-weight: 600;
            font-size: 66px;
            line-height: 76px;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        p {
            color: $pcolor;
            font-family: $inter;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
        }

        .social_icons {
            display: flex;
            margin-top: 50px;

            a {
                color: #010002;
                background: $white;
                border: 2px solid #131313;
                box-shadow: 2px 2px 0px #131313;
                border-radius: 50%;
                height: 52px;
                width: 52px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin: 0 6px;
                transition: .3s;

                i {
                    font-size: 18px;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    box-shadow: none;
                    color: $main-bg;
                    transform: translateY(-5px);
                    border-color: $main-bg;
                }
            }
        }

        .team_contact {
            margin-top: 40px;

            a {
                display: block;
                color: $pcolor;
                font-family: $clash-display;
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                margin: 5px 0;

                &.mail {
                    font-size: 30px;
                    line-height: 40px;
                    text-decoration: underline;
                }
            }
        }
    }

    .min_contact_area {
        margin-top: 100px;

        .section_title {
            h4 {
                color: $pcolor;
                font-family: $clash-display;
                font-weight: 600;
                font-size: 42px;
                line-height: 52px;
            }
        }
    }
}

.team_author_img {
    text-align: right;

    img {
        width: 581px;
        height: 640px;
    }
}