@media(max-width: 1739px) {
    .video_popup .popup_container {
        width: 100%;
    }

    .project .shape_img .two {
        display: none;
    }

    .hero_creative_agency .shape_img .three {
        display: none;
    }

    .project_slider .shape_img .one {
        display: none;
    }

    .project_slider .shape_img .two {
        display: none;
    }

    .hero_digital_studio .shape_img .three {
        display: none;
    }

    .hero_digital_studio .shape_img .one {
        display: none;
    }

    .hero_digital_studio .shape_img .two {
        display: none;
    }

    .project_two .shape_img .one {
        display: none;
    }

    .hero_marketing_agency .shape_img .one {
        display: none;
    }

    .hero_coporate_agency .shape_img .one {
        display: none;
    }

    .hero_agenct_portfolio .shape_img .one {
        display: none;
    }

    .hero_shop .three {
        display: none;
    }
}

@media(max-width: 1600px) {
    .container {
        max-width: 1320px;
    }

    .hero_main .shape_img .two {
        display: none;
    }

    .min_project_area .single_project .project_bottom {
        padding-right: 200px;
    }

    .min_project_area .single_project .project_top img {
        width: 100%;
    }

    .footer_bottom .footer_bottom_list .footer_nav li a {
        font-size: 14px;
    }

    .hero_creative_agency .content .section_title h1 br {
        display: none;
    }

    .hero_creative_agency .content .section_title h1 {
        font-size: 94px;
    }

    .hero_creative_agency .shape_img .two {
        display: none;
    }

    .min_project_slider_area .single_project_slider .project_top img {
        width: 90%;
    }

    .hero_digital_studio .section_title h1 br {
        display: none;
    }

    .hero_digital_studio .section_title h1 {
        font-size: 116px;
    }

    .project_two .shape_img .three {
        display: none;
    }

    .testimonial_style_two .shape_img .one {
        display: none;
    }

    .min_blog_area_col_3 .single_blog .blog_bottom h4 a {
        font-size: 26px;
    }

    .hero_marketing_agency .shape_img .two {
        display: none;
    }

    .hero_marketing_agency .content .section_title h1 {
        font-size: 88px;
    }

    .hero_marketing_agency .content .section_title p br {
        display: none;
    }

    .hero_coporate_agency .shape_img .three {
        display: none;
    }

    .hero_shop .section_img .min {
        width: 100%;
    }

    .shop_btn {
        font-size: 14px;
    }

    .breadcrumb_area .shape_img .one {
        display: none;
    }

    .min_project_area_grid_two .single_project .project_bottom {
        padding-right: 50px;
    }
}

@media(max-width: 1459px) {
    .hero_main .shape_img .one {
        display: none;
    }

    .testimonial_style_two_area button {
        display: none;
    }

    .breadcrumb_area .shape_img .two {
        display: none;
    }

    .min_project_area_grid_two .single_project .project_top .tags li {
        margin: 0 5px;
    }
}

@media(max-width: 1399px) {
    .container {
        max-width: 1140px;
    }

    .hero_main .content .section_title h1 {
        font-size: 100px;
    }

    .hero_main .content .section_title h1 br {
        display: none;
    }

    .hero_main .content .shape {
        display: none;
    }

    .min_service_box_area .single_service_box h4 {
        font-size: 28px;
    }

    .project .shape_img .one {
        display: none;
    }

    .min_project_area .single_project .project_bottom {
        padding-right: 0;
    }

    .digital_agency .section_img img {
        width: 100%;
    }

    .digital_agency .content .section_title h2 br {
        display: none;
    }

    .digital_agency .content {
        padding-left: 30px;
    }

    .digital_agency .content .agency_list li {
        font-size: 20px;
    }

    .testimonial .shape_img .one {
        display: none;
    }

    .min_counter_area .single_counter h6 {
        font-size: 68px;
    }

    .footer_bottom .footer_bottom_list .footer_nav li a {
        font-size: 12px;
    }

    .hero_creative_agency .content .section_title h1 {
        font-size: 82px;
    }

    .creative_agency .section_img img {
        width: 100%;
    }

    .creative_agency .content {
        padding-left: 50px;
    }

    .creative_agency .content .section_title h2 br {
        display: none;
    }

    .min_project_slider_area .single_project_slider .project_bottom {
        padding-right: 80px;
    }

    .power .section_img img {
        width: 100%;
    }

    .power .power_content {
        padding-left: 50px;
    }

    .min_price_area .single_price_item .price_top h5 {
        font-size: 62px;
    }

    .min_faq_area .accordion .accordion-item .accordion-header button {
        font-size: 20px;
    }

    .hero_digital_studio .section_title h1 {
        font-size: 100px;
    }

    .hero_digital_studio .content p {
        font-size: 18px;
    }

    .goal .section_img img {
        width: 100%;
    }

    .goal .content {
        padding-left: 50px;
    }

    .goal .content .section_title h2 br {
        display: none;
    }

    .min_project_two .project_two_items .single_item img {
        display: none;
    }

    .progress_area .section_img img {
        width: 100%;
    }

    .progress_area .min_progress_area {
        padding-left: 50px;
    }

    .progress_area .min_progress_area .content .section_title h2 br {
        display: none;
    }

    .map_area {
        padding-right: 0;
    }

    .contact .min_contact_area {
        padding-left: 50px;
    }

    .hero_marketing_agency .hero_img img {
        width: 100%;
    }

    .hero_marketing_agency .shape_img .three {
        display: none;
    }

    .hero_marketing_agency .content {
        padding-left: 50px;
    }

    .hero_marketing_agency .content .section_title h1 br {
        display: none;
    }

    .hero_marketing_agency .content .section_title h1 {
        font-size: 72px;
        line-height: 88px;
    }

    .hero_marketing_agency .content .section_title h1 {
        font-size: 48px;
        line-height: 68px;
    }

    .offer_box.style_two .content .section_title h2 br {
        display: none;
    }

    .min_project_slider_two_area .single_project_slider_two .project_bottom h4 a {
        font-size: 32px;
        line-height: 42px;
    }

    .project_slider_two .shape_img .one {
        display: none;
    }

    .project_slider_two .section_title h2 br {
        display: none;
    }

    .project_slider_two .shape_img .two {
        display: none;
    }

    .hero_agenct_portfolio .shape_img .two {
        display: none;
    }

    .hero_agenct_portfolio .shape_img .three {
        display: none;
    }

    .hero_shop .one {
        display: none;
    }

    .hero_shop .two {
        display: none;
    }

    .hero_shop .content .section_title h1 {
        font-size: 78px;
    }

    .hero_shop .content .section_title p br {
        display: none;
    }

    .shop_btn {
        padding: 13px 30px;
    }

    .min_grid_shop_area.two .shop_item .top .shop_btn {
        width: 60%;
    }

    .breadcrumb_area .shape_img .three {
        display: none;
    }

    .blog_sidebar .sidebar_item .sidebar_blog_post .single_sidebar_blog_post .content h6 a {
        font-size: 18px;
    }

    .min_blog_area_blog_list.grid .single_blog .blog_bottom h3 a {
        font-size: 24px;
    }

    .min_blog_area_blog_list.grid .single_blog .blog_bottom h4 a {
        font-size: 24px;
    }

    .min_blog_area_blog_list.grid .single_blog .blog_bottom {
        padding-left: 10px;
        padding-right: 10px;
    }

    .min_blog_area_blog_list.grid .single_blog .blog_top img {
        min-height: 285px;
    }

    .service_sidebar .service_sidebar_list a p {
        font-size: 15px;
    }

    .service_sidebar .service_sidebar_post h6 a {
        font-size: 24px;
        line-height: 36px;
    }

    .service_sidebar .service_sidebar_post i.fa-solid {
        font-size: 25px;
    }

    .team_author_img img {
        width: 100%;
        height: auto;
    }

    .min_contact_box .single_contact_box h5 {
        font-size: 28px;
    }

    .min_project_area_grid_two.three .single_project .project_bottom {
        padding-right: 0;
    }

    .min_project_area_grid_two.three .single_project .project_top img {
        height: 355px;
    }

    .min_project_area_grid_two .single_project .project_top .tags {
        flex-wrap: wrap;
    }

    .min_project_area_grid_two .single_project .project_top .tags li:last-child {
        margin-left: 0;
        margin-top: 20px;
    }

    .product_details .product_thumb {
        padding: 0;
    }

    .product_details .product_thumb .slider_nav {
        display: inline-block;
    }

    .my_cart .cart_list_area .main_cart_list .coupon .coupon_input .input input {
        width: 400px;
    }
}

@media(max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .min_grid_shop_area.two .shop_item .top .shop_btn {
        width: 50%;
    }

    .hero_main .content .section_title h1 {
        font-size: 72px;
        line-height: 92px;
    }

    .video_popup .popup_container {
        height: 500px;
    }

    .my_cart .cart_box {
        margin-top: 50px;
    }

    .min_service_box_area .single_service_box {
        margin-bottom: 30px;
    }

    .min_aword_area .singe_aword .right_content p {
        padding-left: 210px;
    }

    .project .shape_img .three {
        display: none;
    }

    .min_project_area .single_project .project_bottom h4 a {
        font-size: 32px;
    }

    .digital_agency .content {
        padding-left: 0;
        padding-top: 50px;
    }

    .min_testimonial_area .single_testimonial p {
        font-size: 31px;
    }

    .testimonial .shape_img .two {
        display: none;
    }

    .product_details .product_thumb .slider_nav {
        margin-bottom: 40px;
    }

    .min_counter_area .single_counter {
        justify-content: center;
    }

    .min_blog_area .single_blog .blog_bottom {
        padding-right: 40px;
    }

    .footer .shape_img .two {
        display: none;
    }

    .footer_bottom .footer_bottom_list .footer_nav {
        justify-content: center;
    }

    .footer_bottom .footer_bottom_list .footer_nav.right {
        justify-content: center;
    }

    .footer_bottom .footer_copyright {
        text-align: center;
    }

    .main_footer .last .site_info {
        margin-top: 60px;
    }

    .footer {
        padding-bottom: 10px;
    }

    .hero_creative_agency .bg_overlay img {
        display: none;
    }

    .hero_creative_agency .shape_img .one {
        display: none;
    }

    .creative_agency .content {
        padding-left: 0;
        padding-top: 50px;
    }

    .service_line .line_item h5 {
        font-size: 28px;
    }

    .service_line .line_item:last-child {
        bottom: 130px;
    }

    .service_line .line_item {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .min_project_slider_area .single_project_slider .project_bottom h4 a {
        font-size: 34px;
    }

    .project_slider .shape_img .three {
        display: none;
    }

    .power .power_content {
        padding-left: 0;
        padding-top: 50px;
    }

    .min_price_area .single_price_item {
        margin-bottom: 20px;
    }

    .cta .min_cta_area h3 {
        font-size: 55px;
    }

    .cta .min_cta_area p {
        font-size: 16px;
    }

    .cta .min_cta_area a {
        font-size: 34px;
    }

    .min_faq_area {
        margin-top: 50px;
    }

    .faq .content .section_title h2 br {
        display: none;
    }

    .hero_digital_studio .content {
        padding-left: 0;
    }

    .goal .content {
        padding-left: 0;
        padding-top: 50px;
    }

    .project_two .shape_img .two {
        display: none;
    }

    .progress_area .min_progress_area {
        padding-left: 0;
        padding-top: 50px;
    }

    .min_team_area_two {
        padding-top: 50px;
    }

    .team_style_two .content .section_title h2 br {
        display: none;
    }

    .contact .min_contact_area {
        padding-left: 0;
        padding-top: 50px;
    }

    .hero_marketing_agency .content {
        padding-left: 0;
        padding-top: 50px;
    }

    .offer_box.style_two .min_offer_box {
        margin-top: 50px;
        margin-left: -10px;
    }

    .hero_coporate_agency .shape_img .two {
        display: none;
    }

    .hero_coporate_agency .content .section_title h1 {
        font-size: 88px;
        line-height: 100px;
    }

    .hero_coporate_agency .content .section_title h1 br {
        display: none;
    }

    .min_project_slider_two_area {
        width: 100%;
    }

    .hero_agenct_portfolio .content .section_title h1 {
        font-size: 78px;
        line-height: 98px;
    }

    .hero_shop .section_img .min {
        margin-top: 50px;
    }

    .min_shop_area .shop_item .bottom h5 a {
        font-size: 25px;
    }

    .breadcrumb_area .breadcrumb_content h2 {
        font-size: 88px;
    }

    .blog_sidebar {
        padding-left: 0;
        padding-top: 60px;
    }

    .breadcrumb_area .shape_img .two {
        display: none;
    }

    .service_sidebar {
        margin-top: 50px;
    }

    .team_author_img img {
        margin-top: 50px;
    }

    .team_single_area {
        padding-right: 0;
    }

    .min_contact_box .single_contact_box {
        margin-bottom: 20px;
    }

    .portfolio_single_content .top .main_content .section_title h2 {
        font-size: 48px;
    }

    .header_aria .nav_buttons .contact_btn {
        display: none !important;
    }
}

@media(max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .hero_main .content .section_title p br {
        display: none;
    }

    .min_aword_area .singe_aword .right_content p {
        padding-right: 100px;
    }

    .min_project_area {
        column-count: 1;
    }

    .min_testimonial_area .single_testimonial p {
        font-size: 24px;
        line-height: 38px;
    }

    .footer .shape_img .one {
        display: none;
    }

    .main_footer .site_info.logo_area {
        padding-right: 50px;
    }

    .footer_bottom {
        margin-top: 100px;
    }

    .client .min_client_area {
        flex-wrap: wrap;
        justify-content: center;
    }

    .client .min_client_area img {
        margin: 0 5px;
    }

    .service_line .line_item:last-child {
        bottom: 90px;
    }

    .project_slider .project_slider_btn {
        text-align: left;
        margin-top: 20px;
    }

    .cta .min_cta_area p br {
        display: none;
    }

    .cta .min_cta_area h3 {
        font-size: 44px;
    }

    .cta .min_cta_area a {
        font-size: 28px;
    }

    .hero_main {
        padding-top: 165px;
        padding-bottom: 500px;
    }

    .testimonial {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    .service_line {
        padding-top: 100px;
    }

    .hero_digital_studio .section_title h1 {
        font-size: 78px;
        line-height: 90px;
    }

    .min_project_two .project_two_items .single_item .all_content .content h3 a {
        font-size: 32px;
    }

    .hero_coporate_agency .content .section_title h1 {
        font-size: 72px;
        line-height: 94px;
    }

    .hero_coporate_agency .content .section_title p br {
        display: none;
    }

    .min_project_slider_two_area .single_project_slider_two .project_bottom h4 a {
        font-size: 28px;
    }

    .project_slider_two .project_slider_btn {
        text-align: left;
        margin-top: 50px;
    }

    .hero_agenct_portfolio .content .section_title h1 br {
        display: none;
    }

    .hero_agenct_portfolio .content .section_title h1 {
        font-size: 74px;
    }

    .hero_agenct_portfolio .content .section_title span {
        font-size: 18px;
    }

    .breadcrumb_area .shape_img .two {
        display: none;
    }

    .breadcrumb_area {
        padding-top: 150px;
    }

    .blog_single .post_content .top .section_title h2 {
        font-size: 48px;
    }

    .blog_single .post_content .main_post_content .blockquote p {
        font-size: 20px;
    }

    .single_service_content .content_top h4 {
        font-size: 48px;
    }

    .single_service_content .content_bottom .blockquote p {
        font-size: 20px;
    }

    .portfolio_single_content .bottom .img_group img {
        margin-bottom: 30px;
    }

    /* Nav */
    .header_aria .navbar .container {
        border-bottom: 0;
    }

    .header_aria .navbar .navbar-collapse .nav_buttons {
        border-left: 0;
    }

    .header_aria .navbar .navbar-collapse .nav_buttons {
        padding-left: 20px;
    }

    .header_aria .navbar-toggler:focus {
        box-shadow: none;
    }

    .header_aria .navbar-toggler {
        margin-top: 15px;
        padding: 0;
    }

    .header_aria .navbar-toggler i {
        font-size: 25px;
    }

    .header_aria .navbar-collapse {
        background: #fff;
    }

    .header_aria .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

@media(max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .hero_main {
        padding-top: 100px;
        padding-bottom: 450px;
    }

    .hero_main .content .section_title h1 {
        font-size: 44px;
        line-height: 56px;
    }

    .video_popup .popup_container {
        height: 400px;
    }

    .popup_btn {
        width: 100px;
        height: 100px;
    }

    .popup_btn i {
        font-size: 26px;
    }

    .section_title h2 {
        font-size: 38px;
        line-height: 48px;
    }

    .service_box {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .aword {
        padding-bottom: 75px;
    }

    .project {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .team {
        padding-top: 75px;
        padding-bottom: 75px;
        overflow: hidden;
    }

    .digital_agency {
        padding-bottom: 75px;
    }

    .testimonial {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .counter_area {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .blog {
        padding-bottom: 75px;
        overflow: hidden;
    }

    .hero_creative_agency {
        padding-bottom: 75px;
    }

    .client {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .creative_agency {
        padding-bottom: 0;
    }

    .service_line {
        padding-bottom: 0;
    }

    .offer_box {
        padding-bottom: 75px;
    }

    .project_slider {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .power {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .price {
        padding-bottom: 75px;
    }

    .cta .container {
        padding-left: 0;
        padding-right: 0;
    }

    .cta .min_cta_area {
        padding-left: 10px;
        padding-right: 10px;
    }

    .cta .min_cta_area {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .faq {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .min_aword_area .singe_aword .right_content p {
        padding-left: 0;
        padding-right: 0;
    }

    .min_aword_area .singe_aword .left_content .content {
        padding-left: 20px;
    }

    .min_aword_area .singe_aword .right_content {
        padding-top: 15px;
    }

    .min_aword_area .singe_aword .left_content {
        padding-right: 0;
    }

    .min_project_area .single_project .project_top .tags {
        flex-wrap: wrap;
    }

    .min_project_area .single_project .project_top .tags li:last-child {
        margin-left: 0;
        margin-top: 25px;
    }

    .bg_btn {
        padding: 15px 30px;
    }

    .bg_btn_color {
        padding: 15px 40px;
    }

    .digital_agency .content .agency_list li {
        font-size: 16px;
    }

    .min_testimonial_area .single_testimonial {
        padding: 0 25px;
    }

    .footer_bottom .footer_bottom_list .footer_nav {
        flex-wrap: wrap;
    }

    .main_footer .last .site_info {
        margin-top: 25px;
    }

    .main_footer .mid .site_info {
        margin-top: 40px;
    }

    .hero_creative_agency .content .section_title h1 {
        font-size: 44px;
        line-height: 48px;
    }

    .hero_creative_agency .content .section_title .sub_title {
        font-size: 18px;
    }

    .creative_agency .content .agency_contact_list li.mail {
        font-size: 24px;
    }

    .min_offer_box .single_offer_box {
        flex-direction: column;
    }

    .min_offer_box .single_offer_box img {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .min_project_slider_area {
        width: 100%;
    }

    .min_project_slider_area .single_project_slider .project_top img {
        width: 100%;
    }

    .min_project_slider_area .single_project_slider .project_bottom {
        padding-right: 0;
    }

    .power .power_content .power_list li h6 {
        font-size: 22px;
    }

    .power .power_content .section_title h2 br {
        display: none;
    }

    .cta .min_cta_area h3 {
        line-height: 60px;
    }

    .cta .min_cta_area a {
        font-size: 24px;
    }

    .hero_digital_studio .section_title h1 {
        font-size: 48px;
        line-height: 55px;
    }

    .goal {
        padding-top: 0;
        padding-bottom: 75px;
    }

    .project_two {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .min_project_two .project_two_items .single_item .all_content i {
        font-size: 25px;
    }

    .progress_area {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .team_style_two {
        padding-bottom: 55px;
    }

    .testimonial_style_two {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .testimonial_style_two_area .single_item img {
        display: none;
    }

    .blog.h_3 {
        padding-top: 75px;
    }

    .contact {
        padding-bottom: 75px;
    }

    .service_line.h_3 .line_item {
        width: 110%;
    }

    .min_project_two .project_two_items .single_item .all_content .content h3 a {
        font-size: 24px;
        line-height: 42px;
    }

    .testimonial_style_two_area {
        width: auto;
    }

    .testimonial_style_two .section_title h2 br {
        display: none;
    }

    .testimonial_style_two_area .single_item .content p {
        font-size: 18px;
    }

    .testimonial_style_two_area .single_item .content .info span {
        font-size: 12px;
    }

    .testimonial_style_two .shape_img .two {
        display: none;
    }

    .contact .min_contact_area .section_title h2 br {
        display: none;
    }

    .hero_marketing_agency .content .section_title span {
        font-size: 18px;
    }

    .hero_marketing_agency .content .marketers {
        flex-direction: column;
    }

    .hero_marketing_agency .content .marketers {
        align-items: flex-start;
    }

    .hero_marketing_agency .content .marketers span {
        margin-left: 0;
        margin-top: 25px;
    }

    .hero_coporate_agency .content .section_title h1 {
        font-size: 38px;
        line-height: 48px;
    }

    .hero_coporate_agency .content .section_title p {
        font-size: 18px;
    }

    .hero_agenct_portfolio .content .section_title h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .hero_agenct_portfolio .content .section_title span {
        font-size: 14px;
    }

    .hero_agenct_portfolio .marketars {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero_agenct_portfolio .marketars span {
        margin-left: 0;
        margin-top: 25px;
    }

    .hero_shop .content .section_title h1 {
        font-size: 44px;
        line-height: 56px;
    }

    .hero_shop .content .section_title p {
        font-size: 18px;
    }

    .hero_shop .content span {
        font-size: 34px;
    }

    .shop_feature_card {
        padding-left: 50px;
        padding-right: 50px;
    }

    .shop {
        overflow: hidden;
    }

    .breadcrumb_area .breadcrumb_content h2 {
        font-size: 58px;
    }

    .min_blog_area_blog_list .single_blog .blog_bottom h3 a {
        font-size: 28px;
        line-height: 48px;
    }

    .min_blog_area_blog_list .single_blog .blog_bottom h4 a {
        font-size: 28px;
        line-height: 48px;
    }

    .min_blog_area_blog_list .single_blog .blog_bottom {
        padding-left: 20px;
        padding-right: 20px;
    }

    .min_blog_area_blog_list.grid.two_col .single_blog .blog_bottom {
        padding-right: 25px;
    }

    .blog_single .tag_share {
        flex-wrap: wrap;
    }

    .blog_single .tag_share .share {
        margin-top: 50px;
    }

    .blog_single .tag_share .tags {
        flex-wrap: wrap;
    }

    .blog_single .tag_share .tags li {
        margin-bottom: 12px;
    }

    .blog_single .post_content .top .section_title h2 {
        font-size: 38px;
    }

    .blog_single .post_author {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog_single .post_author .post_author_info {
        padding-left: 0;
        padding-top: 32px;
    }

    .blog_single .comments_area .single_conmment_with_replay .comment.reply {
        padding-left: 0;
    }

    .single_service_content .content_top h4 {
        font-size: 38px;
    }

    .breadcrumb_area .breadcrumb_content h2 {
        line-height: 38px;
        font-size: 42px;
    }

    .team_single_area .team_info h3 {
        font-size: 36px;
        line-height: 52px;
    }

    .team_single_area .team_info .team_contact a.mail {
        font-size: 25px;
    }

    .min_project_area_grid_two .single_project .project_bottom {
        padding-right: 0;
    }

    .min_project_area_grid_two .single_project .project_bottom h4 a {
        font-size: 28px;
        line-height: 38px;
    }

    .min_project_area_grid_two .single_project .project_top img {
        height: auto;
    }

    .min_project_area_grid_two .single_project .project_top .tags {
        flex-wrap: wrap;
    }

    .min_project_area_grid_two .single_project .project_top .tags li:last-child {
        margin-left: 0;
        margin-top: 30px;
    }

    .portfolio_single_content .top .tags {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .portfolio_single_content .top .tags li:last-child {
        margin-top: 16px;
    }

    .portfolio_single_content .top .main_content .section_title h2 {
        font-size: 38px;
    }

    .hero_creative_agency,
    .hero_agenct_portfolio {
        padding-top: 140px;
    }

    .hero_agenct_portfolio {
        padding-bottom: 240px;
    }

    .hero_digital_studio,
    .hero_shop {
        padding-top: 130px;
    }

    .hero_marketing_agency {
        padding-top: 115px;
        padding-bottom: 75px;
    }

    .hero_coporate_agency {
        padding-top: 100px;
        padding-bottom: 75px;
    }

    .hero_marketing_agency .content .section_title h1 {
        font-size: 38px;
        line-height: 48px;
    }

    .digital_agency.h_4 {
        padding-top: 75px;
    }

    .cta.h_4 {
        padding-bottom: 75px;
    }

    .project_slider_two {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .project_slider_two .project_btn {
        font-size: 12px;
    }

    .contact.h_5 {
        padding-top: 75px;
    }

    .project.h_6 .bg_btn_color {
        margin-top: 0;
    }

    .hero_shop {
        padding-bottom: 75px;
    }

    .shop {
        padding-top: 75px;
    }

    .shop_grid {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .shop_feature {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .shop_feature_card span {
        font-size: 62px;
    }

    .blog_list_with_sidebar .container,
    .blog_grid_with_sidebar .container,
    .blog_single_with_sidebar .container {
        padding-top: 75px;
        padding-bottom: 55px;
    }

    .paginations {
        margin-top: 50px;
    }

    .blog_single .comments_area .single_conmment_with_replay .comment img {
        height: 85px;
        width: 85px;
    }

    .blog_single .post_author {
        margin-top: 40px;
    }

    .creative_agency.about_us {
        padding-top: 75px;
    }

    .cta.about_us {
        padding-bottom: 75px;
    }

    .offer_box.service {
        padding-top: 75px;
    }

    .single_service_with_sidebar {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .single_service_content .content_top h4 {
        line-height: 48px;
    }

    .price.innar {
        padding-top: 75px;
    }

    .team.innar {
        padding-bottom: 25px;
    }

    .team_single {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .team_single_area .min_contact_area {
        margin-top: 50px;
    }

    .team_single_area .min_contact_area .section_title h4 {
        font-size: 34px;
    }

    .breadcrumb_area .breadcrumb_content .breadcrumb_category span a {
        font-size: 12px;
    }

    .contact_box {
        padding-bottom: 75px;
    }

    .portfolio_grid_two {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .portfolio_single {
        padding-top: 75px;
    }

    .portfolio_single_content .bottom .content_item {
        padding-top: 0;
    }

    .footer_bottom {
        margin-top: 60px;
    }

    .shop_grid_with_sidebar {
        padding-top: 30px;
        padding-bottom: 75px;
    }

    .min_grid_shop_area.two .shop_grid_top .left h6 {
        font-size: 13px;
        margin-bottom: 0;
    }

    .min_grid_shop_area.two .shop_grid_top .right label {
        font-size: 13px;
    }

    .min_grid_shop_area.two .shop_grid_top .right select {
        font-size: 13px;
    }

    .min_grid_shop_area.two .shop_item .top .shop_btn {
        width: 45%;
    }

    .product_details .product_info .top h4 {
        font-size: 42px;
        line-height: 42px;
    }

    .product_details {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .shop_grid.product {
        padding-bottom: 75px;
    }

    .my_cart .cart_list_area .main_cart_list .coupon .coupon_input {
        flex-direction: column;
        align-items: baseline;
    }

    .my_cart .cart_list_area .main_cart_list .coupon .coupon_input .input input {
        width: 260px;
        margin-bottom: 20px;
    }

    .my_cart .cart_list_area .title_area {
        display: none;
    }

    .my_cart .cart_list_area {
        padding-right: 0;
    }

    .my_cart .cart_list_area .main_cart_list .single_list .two,
    .my_cart .cart_list_area .main_cart_list .single_list .three {
        display: none;
    }

    .my_cart .cart_list_area .main_cart_list .single_list {
        flex-direction: column;
        align-items: baseline;
    }

    .my_cart,
    .checkout {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .hero_main .content .btn_area {
        margin-top: 30px;
    }

    .hero_main {
        padding-bottom: 430px;
    }

    .min_service_box_area {
        margin-top: 40px;
    }

    .min_aword_area {
        margin-top: 40px;
    }

    .aword .bg_btn_color {
        margin-top: 40px;
    }

    .min_project_area {
        margin-top: 40px;
    }

    .min_project_area .single_project .project_bottom h4 a {
        line-height: 36px;
    }

    .min_project_area .single_project {
        margin-bottom: 40px;
    }

    .project .bg_btn {
        margin-top: 0;
    }

    .min_team_area {
        margin-top: 30px;
    }

    .min_team_area .slick-dots {
        margin-top: 40px;
        padding-left: 0;
    }

    .digital_agency .content .bg_btn_color {
        margin-top: 0;
    }

    .min_blog_area {
        margin-top: 30px;
    }

    .min_blog_area .slick-dots {
        margin-top: 40px;
        padding-left: 0;
    }

    .min_offer_box {
        margin-top: 40px;
    }

    .offer_box {
        padding-bottom: 50px;
    }

    .project_slider .project_slider_btn {
        margin-top: 5px;
    }

    .min_project_slider_area .single_project_slider .project_top img {
        max-height: 290px;
    }

    .min_project_slider_area .single_project_slider .project_bottom h4 a {
        line-height: 35px;
    }

    .power .power_content .power_list {
        margin-top: 0;
    }

    .power {
        padding-bottom: 35px;
    }

    .min_price_area .single_price_item .price_bottom {
        margin-top: 30px;
    }

    .faq .content .bg_btn_color {
        margin-top: 5px;
    }

    .hero_digital_studio .content .bg_btn {
        margin-top: 10px;
    }

    .goal .content .bg_btn_color {
        margin-top: 10px;
    }

    .min_project_two .bottom .bg_btn {
        margin-top: 20px;
    }

    .team_style_two .content .bg_btn_color {
        margin-top: 10px;
    }

    .testimonial_style_two_area {
        margin-top: 0;
    }

    .min_blog_area_col_3 {
        margin-top: 20px;
    }

    .min_contact_area .contact_form .bg_btn_color {
        margin-top: 20px;
    }

    .offer_box.style_two .content .bg_btn_color {
        margin-top: 0;
    }

    .min_price_area {
        margin-top: 30px;
    }

    .hero_coporate_agency .content .bg_btn {
        margin-top: 10px;
    }

    .project_slider_two .project_slider_btn {
        margin-top: 10px;
    }

    .hero_shop .content .bg_btn {
        margin-top: 0;
    }

    .min_shop_area {
        margin-top: 30px;
    }

    .single_service_content {
        padding-right: 0;
    }

    .min_contact_area.service-single {
        padding-right: 0;
    }

    .breadcrumb_area {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .min_team_area_innar {
        margin-top: 30px;
    }

    .min_contact_box {
        margin-top: 30px;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .min_aword_area .singe_aword .right_content i {
        display: none;
    }

    .min_project_slider_two_area .single_project_slider_two .project_bottom h4 a {
        font-size: 18px;
        line-height: 30px;
    }
}

@media(max-width: 416px) {
    .hero_main .content .btn_area .bg_btn_color {
        margin-left: 0;
        margin-top: 24px;
    }
}